/* 扩展样式 */
#theme-editor-container {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
    max-height: 500px;
    overflow-y: auto;
    background-color: rgba(30, 30, 30, 0.7);
}

/* 颜色样式框 */
.theme-editor-property-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 3px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    padding-left: 15px;
    margin-bottom: 10px;
    gap: 5px;
    border-radius: 0 5px 5px 0;
}

/* 标题标签 */
.theme-editor-main-label {
    font-weight: 900;
    font-size: 1.0em;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 8px;
    border-bottom: 2px solid #aaa;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    width: 100%;
    white-space: normal;
    word-break: break-all;
    line-height: 1.4;
}

/* 颜色样式标签 */
.theme-editor-prop-label {
    font-weight: bold;
    font-size: 0.9em;
    color: #eee;
}

/* 颜色选择器 */
toolcool-color-picker {
    width: 100%;
    height: 30px;
    background: none;
    border: none;
    padding: 0;
}

/* 子颜色标签 */
.theme-editor-sub-label {
    font-weight: bold;
    font-size: 0.8em;
    color: #ddd;
    margin-top: 5px;
}

/* 颜色选择器边框颜色 */
:root {
    --tool-cool-color-picker-btn-border-color-inner: white;
}
